nav {
  width: 100%;
  background: none;
  backdrop-filter: none;
  height: 14%;

  @media (max-width: 800px) {
    padding: 20px !important;
    justify-content: center !important;
    transition-duration: 0.2s;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(40px);
    height: 14%;

    img {
      width: 200px;
    }
    a {
      width: 100%;
      padding: 0 !important;
      justify-content: center !important;
    }
    p {
      display: none;
    }
  }
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
  height: 0px;
  transform: translateY(20px);
  pointer-events: none;
}

.transition-duration {
  transition-duration: 0.2s;
}

.rotate {
  transform: rotate(360deg);
}

.inputs-wrapper {
  max-width: 640px;
  width: 90vw;
  min-width: 400px;
}

.side-button {
  transition-duration: 0.2s;
  &:hover {
    transform: scale(1.04);
    filter: brightness(1.4);
  }
  &:active {
    transform: scale(0.9);
    opacity: 0.9;
  }
}

.save-button {
  svg {
    transition-duration: 0.2s;
  }

  &:hover {
    svg {
      transform: scale(1.04);
      filter: brightness(1.4);
    }
  }
  &:active {
    svg {
      transform: scale(0.9) translateY(6px);
      opacity: 0.9;
    }
  }
}
