nav {
  width: 100%;
  background: none;
  backdrop-filter: none;
  height: 14%;

  @media (max-width: 800px) {
    padding: 20px !important;
    justify-content: center !important;
    transition-duration: 0.2s;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(40px);
    height: 14%;

    img {
      width: 200px;
    }
    a {
      width: 100%;
      padding: 0 !important;
      justify-content: center !important;
    }
    p {
      display: none;
    }
  }
}

.inputs-wrapper {
  max-width: 640px;
  width: 90vw;
  min-width: 400px;
}
